/* ============================================================
   CSS-змінні проєкту.
   Відповідальний: [людина з задачі №11]
   
   Сюди виноситься вся палітра з макету Figma, типографіка,
   брейкпоінти і т.д. Всі компоненти мають користуватись
   цими змінними, а не хардкодити значення.
   ============================================================ */



:root {

  /* Основний фон сайту */
  --color-bg-main: #f4f4f4;

  /* Кольори карток */
  --color-bg-white: #ffffff;
  --color-bg-black: #242424;

  /* Кольори тексту для світлого фону */
  --color-text-dark: #242424;
  --color-text-dark-60: rgba(36, 36, 36, 0.6); 
  --color-text-dark-40: rgba(36, 36, 36, 0.4); 

  /* Кольори тексту для темного фону */
  --color-text-light: #f4f4f4; 
  --color-text-light-60: rgba(244, 244, 244, 0.6); 
  --color-text-light-40: rgba(244, 244, 244, 0.4); 

  --color-border-dark-alpha: rgba(36, 36, 36, 0.1); /* Темна прозора рамка на іконках (10% для світлого фону) */
  --color-border-solid: #242424;
  --color-border-light-alpha: rgba(244, 244, 244, 0.1); /* Світла прозора рамка на іконках (10% для темнохо фону/футера) */

  /* Колір для другорядних посилань у футері (Privacy Policy тощо) */
  --color-text-footer-muted: #c6cdd1;

  /* Жовтий для зірок рейтингу */
  --color-rating: #eea10c;       
  
  /* Колір неактивних елементів пагінації */
  --color-pagination-inactive: #d4d4d4;
  --color-rating-inactive: rgba(244, 244, 244, 0.2);











  /* Шрифти — TODO: підключити потрібні font-family з макету */
  --font-primary: 'DM Sans', sans-serif;
  --font-secondary: 'DM Mono', monospace;

  /* Розміри шрифтів */
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 20px;
  --fs-xl: 24px;
  --fs-2xl: 32px;
  --fs-3xl: 44px;

  /* Відступи */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;

  /* Радіуси */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 9999px;

  /* Транзишини */
  --transition: 250ms ease;

  /* Контейнер */
  --container-max: 1280px;
  --container-padding: 20px;

}